@model CinemaSystem.Models.Comment
@using Microsoft.AspNetCore.Identity
@inject SignInManager<Customer> SignInManager
@inject UserManager<Customer> UserManager

@{
    ViewData["Title"] = "Create";
    Layout = "_DefaultLayout";
}

<br />
<br />
<br />
<br />


<div class="container">
    <h1 class="text-center">@ViewData["PageFirstTitle"]</h1>
    <div class="row" style="display:flex; justify-content:center;">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    @*<label asp-for="MovieId" class="control-label"></label>*@
                    <input asp-for="MovieId" value="@(ViewBag.MovieId)" type="hidden" class="form-control" />
                </div>
                <div class="form-group">

                    @* <label asp-for="UserId" class="control-label"></label>*@
                    <input asp-for="UserId" value="@UserManager.GetUserId(User)" type="hidden" class="form-control" />
                    <span asp-validation-for="UserId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Title" class="control-label">@ViewData["InputBoxCommentTitle"]</label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label">@ViewData["InputBoxCommentDesc"]</label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <br />
                
                <div class="form-group text-center">
                    <input type="submit" value="@ViewData["AddCommentButton"]" class="btn btn-primary" style="font-size:18px;" />
                </div>
            </form>
        </div>
    </div>

</div>

<br />
<br />
<br />
<br />
<br />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
