@model CinemaSystem.Models.Movie

@{
    ViewData["Title"] = "Details";
}

<h1 style="margin-top:100px;"></h1>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="@Model.Poster" style="width:100%;" class="img-fluid" alt="Responsive image">
        </div>

        <div class="col-md-6">
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.MovieName)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.MovieName)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Year)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Year)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Time)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Time)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.IMDB_Puan)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.IMDB_Puan)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Subject)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Subject)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Poster)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Poster)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Fragment)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Fragment)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Category)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Category.Id)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Language)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Language.Id)
                </dd>
            </dl>
        </div>
        <div class="col-md-12">
            <a asp-action="Index" asp-controller="MovieTheatersPage" asp-route-id="@Model.Id" style="background-color: #00bba7; text-decoration:none; font-size:medium; color:black; padding-right:12px; padding-left:12px; padding-top:6px; padding-bottom:6px; font-weight:700; border-radius:10px;
">Yorum Ekle</a>
        </div>
    </div>


  
    <div class="row" style="margin-top:40px;">

        <div class="col-md-12 text-center">
            <a asp-action="Create" asp-controller="Comments" asp-route-id="@Model.Id" style="background-color: #00bba7; text-decoration:none; font-size:medium; color:black; padding-right:12px; padding-left:12px; padding-top:6px; padding-bottom:6px; font-weight:700; border-radius:10px;
">Yorum Ekle</a>
        </div>
        @foreach (var item in ViewBag.movieComments)
        {
            <div class="col-md-12" style="margin-top:5px; border-radius:50px;">
                <div class="card" style="width: 100%; background-color: #e5f0f1; padding-left:30px; padding-right:30px; padding-top:10px; padding-bottom:10px;">
                    <div class="card-body">
                        <h5 class="card-title">@item.UserName</h5>
                        <h6 class="card-subtitle mb-2 text-muted">@item.CommentTitle</h6>
                        <p class="card-text">@item.CommentDescription</p>
                    </div>
                </div>
            </div>
        }

  
    </div>

</div>


