@model CinemaSystem.Models.Movie
@using Microsoft.AspNetCore.Identity
@inject SignInManager<Customer> SignInManager
@inject UserManager<Customer> UserManager
@{ ViewData["Title"] = "Details";
    Layout = "_DefaultLayout";}

<h1 style="margin-top:100px;"></h1>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="@Model.Poster" style="width:100%;" class="img-fluid" alt="Responsive image">
        </div>

        <div class="col-md-6">

            <h4 style="display:block;">
                @ViewData["MovieNameText"]:  @Model.MovieName
            </h4>
            <h4 style="display:block;">
                @ViewData["MovieYearText"]: @Model.Year
            </h4>
            <h4 style="display:block;">
                @ViewData["MovieTimeText"]:  @Model.Time Dakika
            </h4>
            <h4 style="display:block;">
                IMDB:  @Model.IMDB_Puan
            </h4>
            <h4 style="display:block;">
                @ViewData["MovieCategoryText"]: @Model.Category.CategoryName
            </h4>
            <h4 style="display:block;">
                @ViewData["MovieLanguageText"]: @Model.Language.LanguageName
            </h4>
            <h4 style="display:block;">
                @ViewData["MovieSubjectText"]: @Model.Subject
            </h4>

            @if (SignInManager.IsSignedIn(User) && User.IsInRole("NormalUser"))
            {
        <p style="display:block;" class="text-center" style="width:100%;">
            <a asp-action="Index" asp-route-culture="@(ViewData["ctr"].ToString()=="tr-TR" ? "tr-TR":"en-US" )" asp-controller="MovieTheatersPage" asp-route-id="@Model.Id" style="background-color: #00bba7; text-decoration:none; font-size:medium; color:black; padding-right:12px; padding-left:12px; padding-top:6px; padding-bottom:6px; margin-top:10px; width:80%; font-size:18px; font-weight:700; border-radius:10px;
">@ViewData["BuyTicketButton"]</a>
        </p>
            }
        </div>

    </div>

    <div class="row" style="margin-top:40px; display:flex; justify-content:center;">
        <div class="col-md-8 col-12">
            <iframe width="100%" height="370" src="@Model.Fragment" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>




    <div class="row" style="margin-top:40px; margin-bottom:20px;">

        <div class="col-md-12 text-center">

            @{ TempData["MovieId"] = Model.Id; }
            @if (SignInManager.IsSignedIn(User) && User.IsInRole("NormalUser"))
            {
        <a asp-action="Create" asp-route-culture="@(ViewData["ctr"].ToString()=="tr-TR" ? "tr-TR":"en-US" )" asp-controller="Comments" style="background-color: #00bba7; text-decoration:none; font-size:medium; color:black; padding-right:12px; padding-left:12px; padding-top:6px; padding-bottom:6px; font-weight:700; border-radius:10px;
">@ViewData["AddCommentButton"]</a>
            }
        </div>
        @foreach (var item in ViewBag.movieComments)
        {
<div class="col-md-12" style="margin-top:5px; border-radius:50px;">
    <div class="card" style="width: 100%; background-color: #e5f0f1; padding-left:30px; padding-right:30px; padding-top:10px; padding-bottom:10px;">
        <div class="card-body">
            <h5 class="card-title">@item.UserName</h5>
            <h6 class="card-subtitle mb-2 text-muted">@item.CommentTitle</h6>
            <p class="card-text">@item.CommentDescription</p>
        </div>
    </div>
</div>}


    </div>

</div>


