@model IEnumerable<CinemaSystem.Models.CinemaTheaterMovie>

@{ ViewData["Title"] = "Index";
    Layout = "_AdminLayout";}

<h1>Index</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CinemaTheater)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FinishedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subtitle)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.CinemaTheater.Id)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Movie.Id)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.StartedDate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.FinishedDate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Subtitle)
    </td>
    <td>
        <a asp-action="CinemaTheaterMovieEdit" asp-route-id="@item.Id">Edit</a> |
        <a asp-action="CinemaTheaterMovieDetails" asp-route-id="@item.Id">Details</a> |
        <a asp-action="CinemaTheaterMovieDelete" asp-route-id="@item.Id">Delete</a>
    </td>
</tr>}
    </tbody>
</table>
