@model IEnumerable<CinemaSystem.Models.Movie>



@{ ViewData["Title"] = "Home Page"; }



<!-- STEPS =============================-->
<div class="item content">
    <div class="container toparea">
        <div class="row text-center">
            <div class="col-md-4">
                <div class="col editContent">
                    <span class="numberstep">1</span>
                    <h3 class="numbertext">@ViewData["HomePageFirstBoxTitle"]</h3>
                    <p>
                        @ViewData["HomePageFirstBoxDesc"]
                    </p>
                    <br />
                </div>
                <!-- /.col-md-4 -->
            </div>
            <!-- /.col-md-4 col -->
            <div class="col-md-4 editContent">
                <div class="col">
                    <span class="numberstep">2</span>
                    <h3 class="numbertext">@ViewData["HomePageSecondBoxTitle"]</h3>
                    <p>
                        @ViewData["HomePageSecondBoxDesc"]
                    </p>
                    <br />
                </div>
                <!-- /.col -->
            </div>
            <!-- /.col-md-4 col -->
            <div class="col-md-4 editContent">
                <div class="col">
                    <span class="numberstep">3</span>
                    <h3 class="numbertext"> @ViewData["HomePageThirdBoxTitle"]</h3>
                    <p>
                        @ViewData["HomePageThirdBoxDesc"]
                    </p>
                    <br />
                </div>
            </div>
        </div>
    </div>
</div>


<!-- LATEST ITEMS =============================-->
<section class="item content">
    <div class="container">
        <div class="underlined-title">
            <div class="editContent">
                <h1 class="text-center latestitems">@ViewData["PageFirstTitle"]</h1>
            </div>

        </div>
        <br />
        <div class="row">
            @foreach (var item in ViewBag.movies)
            {<!-- /.productbox -->
                <div class="col-md-4">
                    <div class="productbox">
                        <div class="fadeshop" style="width:100%;">

                            <div class="captionshop text-center" style="display: none;">
                                <h3>@(item.MovieName)</h3>
                                <p>
                                   @ViewData["ClickForMovieDetail"]
                                </p>
                                <p>
                                    <a asp-action="Details" asp-route-id="@item.MovieID" asp-controller="Movies" class="learn-more detailslearn"><i class="fa fa-link"></i> Details</a>
                                </p>
                            </div>
                            <span class="maxproduct" style="width:100%;"><img style="width:100%; height:300px;" src="@(item.Poster)" alt=""></span>
                        </div>
                        <div class="product-details">
                            <a asp-action="Details" asp-route-id="@item.MovieID" asp-controller="Movies">
                                <h1>@(item.MovieName)</h1>
                            </a>
                            <span class="price">
                                <span class="edd_price">IMDB: @(item.IMDB_Puan)</span>
                            </span>
                        </div>
                    </div>
                </div>            }
        </div>
    </div>

</section>


<!-- BUTTON =============================-->
<div class="item content">
    <div class="container text-center">
        <a asp-action="Index"  asp-controller="Visions" class="homebrowseitems">
            @ViewData["SeeAllVisions"]
            <div class="homebrowseitemsicon">
                <i class="fa fa-star fa-spin"></i>
            </div>
        </a>
    </div>
</div>
<br />


<!-- AREA =============================-->
<!--<div class="item content">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <i class="fa fa-microphone infoareaicon"></i>
                <div class="infoareawrap">
                    <h1 class="text-center subtitle">General Questions</h1>
                    <p>
                        Want to buy a theme but not sure if it's got all the features you need? Trouble completing the payment? Or just want to say hi? Send us your message and we will answer as soon as possible!
                    </p>
                    <p class="text-center">
                        <a href="#">- Get in Touch -</a>
                    </p>
                </div>
            </div>
            
            <div class="col-md-4">
                <i class="fa fa-comments infoareaicon"></i>
                <div class="infoareawrap">
                    <h1 class="text-center subtitle">Theme Support</h1>
                    <p>
                        Theme support issues prevent the theme from working as advertised in the demo. This is a free and guaranteed service offered through our support forum which is found in each theme.
                    </p>
                    <p class="text-center">
                        <a href="#">- Select Theme -</a>
                    </p>
                </div>
            </div>
         
            <div class="col-md-4">
                <i class="fa fa-bullhorn infoareaicon"></i>
                <div class="infoareawrap">
                    <h1 class="text-center subtitle">Hire Us</h1>
                    <p>
                        If you wish to change an element to look or function differently than shown in the demo, we will be glad to assist you. This is a paid service due to theme support requests solved with priority.
                    </p>
                    <p class="text-center">
                        <a href="#">- Get in Touch -</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
-->

<!-- TESTIMONIAL =============================-->
<div class="item content">
    <div class="container">
        <div class="col-md-10 col-md-offset-1">
            <div class="slide-text">
                <div>
                    <h2><span class="uppercase">@ViewData["HomePageSupport"]</span></h2>
                    <img src="http://wowthemes.net/demo/salique/salique-boxed/images/temp/avatar2.png" alt="Awesome Support">
                    <p>
                        @ViewData["HomePageSupportDesc"]
                    </p>
                  
                </div>
            </div>
        </div>
    </div>
</div>


<!-- CALL TO ACTION =============================-->
<section class="content-block" style="background-color:#00bba7;">
    <div class="container text-center">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="item" data-scrollreveal="enter top over 0.4s after 0.1s">
                    <h1 class="callactiontitle">
                        @ViewData["HomePagePromotionCode"] <span class="callactionbutton"><i class="fa fa-gift"></i> WOW24TH</span>
                    </h1>
                </div>
            </div>
        </div>
    </div>
</section>
