@model CinemaSystem.Models.MovieTicket
@using System.Linq;
@using Microsoft.AspNetCore.Identity
@inject SignInManager<Customer> SignInManager
@inject UserManager<Customer> UserManager
@{ ViewData["Title"] = "Theater Chairs"; }

<br />
<br />
<br />
<br />
<div class="container">
    <div class="row">
        @foreach (var item in ViewBag.theaterChairs)
        {

            <div class="col-md-2 text-center pt-3 pb-4" style="border:3px solid black; margin-left:10px; margin-top:12px; border-radius:10px; padding-bottom:18px;">
                <h1 style="@(ViewBag.movieTicketsChair.Contains(item.Id) ? "color:red;":"" )">@item.ChairCode</h1>
            </div>

        }

    </div>
    <br />
    <br />

    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
            <form asp-action="CreateTicket" asp-controller="MovieTheatersPage">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <!-- <label asp-for="MovieSessionId" class="control-label"></label>-->
                    <input asp-for="MovieSessionId" type="hidden" value="@ViewBag.movieSessionId" class="form-control" />
                </div>

                <div class="form-group">
                    <!-- <label asp-for="BuyDate" class="control-label"></label>-->
                    <input asp-for="BuyDate" value="@DateTime.Now" type="hidden" class="form-control" />
                    <span asp-validation-for="BuyDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <!-- <label asp-for="Price" class="control-label"></label>-->
                    <input asp-for="Price" value="50" type="hidden" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <!-- <label asp-for="Number" class="control-label"></label>-->
                    <input asp-for="Number" value="1" type="hidden" class="form-control" />
                    <span asp-validation-for="Number" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <!-- <label asp-for="MovieSessionId" class="control-label"></label>-->
                    <input asp-for="UserId" type="hidden" value="@UserManager.GetUserId(User)" class="form-control" />
                </div>
                @{
                    var avaibleTheaterChair = new List<SelectListItem>();

                    foreach (var item in ViewBag.theaterChairs)
                    {
                        if (!ViewBag.movieTicketsChair.Contains(item.Id))
                        {
                            avaibleTheaterChair.Add(new SelectListItem { Text = item.ChairCode, Value = item.Id.ToString() });
                        }
                    }


                }
                <div class="form-group">
                    <label asp-for="TheaterChairId" class="control-label">@ViewData["TheaterChairsPageChairNo"]</label>
                    <select asp-for="TheaterChairId" class="form-control" asp-items="@avaibleTheaterChair"></select>
                </div>
                <div class="form-group">
                    <input type="submit" value="@ViewData["TheaterChairsPageCreateButton"]" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

</div>


